@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Luckiest guy', sans-serif;
}

:root{
    --cor1: #BFA004;
    --cor2: #F2CB05;
    --cor3: #F2E205;
    --cor4: #BFA004;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.texto{
    font-size: 135px;
    text-transform: uppercase;
    background: linear-gradient(45deg, var(--cor1), var(--cor2), var(--cor3), var(--cor4));
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
}

