@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Boldonse', sans-serif;
}

:root{
    --cor1: #8C0E03;
    --cor2: #D92B04;
    --cor3: #D97904;
    --cor4: #F2B705;
    --cor5: #D97904;
    --cor6: #D92B04;
    --cor7: #8C0E03;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.texto{
    font-size: 120px;
    text-transform: uppercase;
    background: linear-gradient(45deg, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5), var(--cor6), var(--cor7));
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    outline: none;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
}

@media screen and (max-width: 500px){
    .texto{
        font-size: 50px;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px){
    .texto{
        font-size: 70px;
    }
}

@media screen and (min-width: 701px) and (max-width: 900px){
    .texto{
        font-size: 100px;
    }
}

