@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor1: #023535;
    --cor2: #015958;
    --cor3: #008F8C;
    --cor4: #0CABA8;
    --cor5: #0FC2C0;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carregando{
    width: 60px;
    height: 60px;
    background-color: transparent;
    display: block;
    border-radius: 50%;
    border: 8px solid blue;
    border-top: 12px solid transparent;
    animation: loading 2s linear infinite;
}

@keyframes loading{
    0%{
        transform: rotate(0deg);
        border-color: var(--cor1);
        border-top: 12px solid transparent;
    }
    10%{
        border-color: var(--cor2);
        border-top: 12px solid transparent;
    }
    20%{
        border-color: var(--cor3);
        border-top: 12px solid transparent;
    }
    30%{
        border-color: var(--cor4);
        border-top: 12px solid transparent;
    }
    40%{
        border-color: var(--cor5);
        border-top: 12px solid transparent;
    }
    50%{
        border-color: var(cor6);
        border-top: 12px solid transparent;
    }
    60%{
        border-color: var(--cor5);
        border-top: 12px solid transparent;
    }
    70%{
        border-color: var(--cor4);
        border-top: 12px solid transparent;
    }
    80%{
        border-color: var(cor3);
        border-top: 12px solid transparent;
    }
    90%{
        border-color: var(--cor2);
        border-top: 12px solid transparent;
    }
    100%{
        transform: rotate(360deg);
        border-color: var(--cor1);
        border-top: 12px solid transparent;
    }
}