@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-image: linear-gradient(to bottom, #05AFF2, #05DBF2, #05F2F2);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulo{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -1;
    font-size: 40px;
    color: white;
}
.conteudo{
    padding: 100px;
    background-color: white;
    text-align: justify;
}

.conteudo h1{
    font-size: 3em;
    margin-bottom: 20px;
}

.conteudo p{
    font-size: 1.5em;
}

section.ondas-box{
    position: relative;
    width: 100%;
    height: 100vh;
}

.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url(Imagens/onda.png);
    background-size: 1000px 100px;
    animation: ondaAnimada 5s ease-in-out infinite alternate;
}

@keyframes ondaAnimada {
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(20px);
    }
}

#onda1{
    z-index: 1000;
    opacity: 1;
    background-position-x: 400px;
}

#onda2{
    z-index: 999;
    opacity: .5;
    background-position-x: 300px;
}

#onda3{
    z-index: 998;
    opacity: .25;
    background-position-x: 200px;
}

#onda4{
    z-index: 997;
    opacity: .8;
    background-position-x: 100px;
}

@media  screen and (max-width: 600px) {
    .titulo{
        font-size: 15px;
    }
}

@media  screen and (min-width: 601px) and (max-width: 700px) {
    .titulo{
        font-size: 20px;
    }
}

@media  screen and (min-width: 701px) and (max-width: 990px) {
    .titulo{
        font-size: 25px;
    }
}